<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Punchard</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="row">
      <% employees.forEach(function(employee) { %>
        <div class="col-md-4" id="employee-<%=employee.id%>">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center"><%=employee.firstName + " " + employee.lastName%></h1>
            </div>
            <div class="col-md-12 barcode text-center" data-barcode-id="<%=employee.punch_in_id%>"
              data-barcode-text="Punch In">
              <svg></svg>
            </div>
            <div class="col-md-12 barcode text-center" data-barcode-id="<%=employee.punch_out_id%>"
              data-barcode-text="Punch Out">
              <svg></svg>
            </div>
            <div class="col-md-12 barcode text-center" data-barcode-id="<%=employee.no_lunch_id%>"
              data-barcode-text="No Lunch">
              <svg></svg>
            </div>
          </div>
          <br>
          <br>
        </div>
      <% }); %>
    </div>
    
    <div action="#">
      <input id="barcode_input" type="text" style="position:absolute;right:9000px;"/>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/JsBarcode.min.js"></script>
    <script>
    $(".barcode").each(function() {
      var e = $(this);
      var id = e.data('barcode-id');
      e.find('svg').JsBarcode(id, {
        text: e.data('barcode-text'),
        textPosition: 'top',
        height: 50
      });
    });
    </script>
  </body>
</html>